{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <p>
                Vous avez oublié votre mot de passe ?
                <br>
                Pas de souci, nous vous enverrons un email avec un lien pour réinitialiser votre mot de passe.
            </p>
            {{ form_start(passwordForgottenForm) }}
                {{ form_row(passwordForgottenForm.email) }}
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-person-through-window"></i>
                    Réinitialiser mon mot de passe
                </button>
            {{ form_end(passwordForgottenForm) }}
        </div>
    </div>
{% endblock %}