{% extends 'base.html.twig' %}

{% block title %}Définir mon mot de passe{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <p>
                Vous devez définir votre mot de passe !
            </p>
            {{ form_start(passwordForm) }}
                {{ form_row(passwordForm.password.first) }}
                {{ form_row(passwordForm.password.second) }}
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-check"></i>
                    Définir mon mot de passe
                </button>
            {{ form_end(passwordForm) }}
        </div>
    </div>
{% endblock %}
