{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Bienvenue !</h1>
            <p>
                C'est ici que nous vous allez passer votre évaluation !
            </p>
            <p>
                {% if app.user %}
                    <a href="{{ path('app_session') }}" class="btn btn-primary">
                        <i class="fa-solid fa-play"></i>
                        C'est parti !
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-primary">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        Identifiez vous
                    </a>
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}
